requests==2.22.0
networkx>=2.5.1
memoized_property==1.0.3
typing==3.6.2
rdflib==4.2.2
setuptools>=52.0.0
numpy>=1.16.4
pyparsing==2.2.0
overrides==3.1.0
http://github.com/hltcoe/PredPatt/tarball/master#egg=predpatt
dash[testing]==1.9.1
selenium==3.141.0
jsonpickle==1.4.1
pytest==6.2.2
matplotlib==3.2.1
